{% extends 'adminhome.html' %}
{% load static %}
        {% block table %}
        <center><h3>Manage Sub Category</h3></center>  
       <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sub catid</th>
                <th>Subcategory Name</th>
                <th>Category Name</th>
                <th>Sub Cat Icon</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for row in managesubcate %}
            <tr>
                <td>{{row.subcatid}}</td>
                <td>{{row.subcatnm}}</td>
                <td>{{row.catnm}}</td>
                <td>{{row.subcaticon}}</td>
                
                <td>
                {% if row.status %}
                <a href={{curl}}myadmin/managesubcatstatus?adsid={{row.adsid}}&status=block>                    
                <img title="Block Users" src="{% static 'images/active.png' %}" height="40" width="40" />
                </a>
                {% else %}
                <a href={{curl}}myadmin/managesubcatstatus?adsid={{row.adsid}}&status=unblock>
                <img title="Un-Block Users" src="{% static 'images/deactivated.png' %}" height="40" width="40" />       
                </a>
                {% endif %}
                </td>
                <td>
                <a href={{curl}}myadmin/managesubcatstatus?subcatid={{row.subcatid}}&status=delete>
                <img title="Un-Block Users" src="{% static 'images/delete.png' %}" height="40" width="40" />
                </a>
                </td>            
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}


    