{% extends 'base.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block img1 %}
{% endblock %}

{% block img2 %}
{% endblock %}

{% block category %}	
	<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
        <div class="container">
            <h3>About <span>Us </span></h3>
            <!--/w3_short-->
                 <div class="services-breadcrumb">
                        <div class="agile_inner_breadcrumb">

                           <ul class="w3_short">
                                
                            </ul>
                         </div>
                </div>
       <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
    <div class="banner_bottom_agile_info">
        <div class="container">
            <div class="agile_ab_w3ls_info">
                <div class="col-md-6 ab_pic_w3ls">
                    <img src="{% static 'images/ab_pic.png' %}" alt=" " class="img-responsive" />
                </div>
                 <div class="col-md-6 ab_pic_w3ls_text_info">
                    <h5>About Our Post <span> Karde</span> </h5>
                    <p>This project main aim is to provide online services to the user to buy and sell product. It’s main focus on the bidding which help the user to sell their product at high priority and also help the user to get their required item instantly.</p>

                    <p>This is mainly used by retailers, students and business etc. It help the seller to spread their product world wide and increase their marketing through online services.</p> 
                </div>
                  <div class="clearfix"></div>
            </div>    
            <div class="banner_bottom_agile_info_inner_w3ls">
                   <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                        <figure class="effect-roxy">
                            <img src="images/bottom1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3><span>F</span>all Ahead</h3>
                                <p>New Arrivals</p>
                            </figcaption>           
                        </figure>
                    </div>
                     <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                        <figure class="effect-roxy">
                            <img src="images/bottom2.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3><span>F</span>all Ahead</h3>
                                <p>New Arrivals</p>
                            </figcaption>           
                        </figure>
                    </div>
                    <div class="clearfix"></div>
            </div> 
         </div> 
    </div>
    <!-- team -->	
{% endblock %}


{% block banner %}
{% endblock %}


{% block grid %}
{% endblock %}
