{% extends 'base.html' %}
{% load static %}
{% block category %}
<!-- /new_arrivals --> 
<div class="new_arrivals_agile_w3ls_info"> 
	<div class="container">		
			<div id="horizontalTab">
					<ul class="resp-tabs-list">
						<li> Show Category's</li>
					</ul>
				<div class="resp-tabs-container">
				<!--/tab_one-->
					<div class="tab1">
							{% for row in catlist %}	
							<a href={{curl}}showsubcat/?cnm={{row.catnm}}  title={{row.catnm}} >			
							
						<div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img src={{media_url}}/{{row.caticon}} alt="" class="pro-image-front">
												<img src={{media_url}}/{{row.caticon}} alt="" class="pro-image-back">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a class="link-product-add-cart" href={{curl}}showsubcat/?cnm={{row.catnm}}  title={{row.catnm}}>Quick View</a>
											</div>
										</div>
										
										
								</div>
								<div class="item-info-product ">
									<h4><a href={{curl}}showsubcat/?cnm={{row.catnm}}  title={{row.catnm}}>{{row.catnm}}</a></h4>
									
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
														
									</div>
																		
								</div>
								
							
							</div>
						</div>
					</a>
					{% endfor %}	
						<div class="clearfix"></div>
					
					</div>
				
					<!--//tab_one-->
											
				</div>
			</div>	
		</div>
	</div>
<!-- //new_arrivals -->
{% endblock %}

